body {
  margin: 0;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 1em;
}

.container > * + * {
  margin-top: 1em;
}

.field {
  display: flex;
  flex-direction: column;
}

.label {
  display: block;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.input {
  padding: 0.5em;
  font-size: inherit;
}

.submit {
  padding: 0.5em 1em;
}

.success {
  margin-left: 0.5em;
  opacity: 0;
  transition: opacity 250ms ease;
}

.success.on {
  opacity: 1;
}
